{% extends "base.html" %}
{% load static %}

{% block main-content %}
<section class="section-content padding-y">

  <!-- ============================ COMPONENT REGISTER   ================================= -->
  <div class="card mx-auto" style="max-width: 500px; margin-top:50px;">
    <article class="card-body">
      {% include 'includes/alerts.html' %}
      <header class="mb-4"><h4 class="card-title">Sign up</h4></header>

      <!-- Form đăng ký -->
      <form action="{% url 'registerUser' %}" method="POST">
        {% csrf_token %}

        <!-- Hiển thị lỗi chung không liên quan đến trường -->
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}

        <!-- First Name và Last Name -->
        <div class="form-row">
          <div class="col form-group">
            <label>First name</label>
            {{ form.first_name }}
            {% for error in form.first_name.errors %}
              <small style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
          <div class="col form-group">
            <label>Last name</label>
            {{ form.last_name }}
            {% for error in form.last_name.errors %}
              <small style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
        </div>

        <!-- Email và Username -->
        <div class="form-row">
          <div class="col form-group">
            <label>Email Address</label>
            {{ form.email }}
            {% for error in form.email.errors %}
              <small style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
          <div class="col form-group">
            <label>Username</label>
            {{ form.username }}
            {% for error in form.username.errors %}
              <small style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
        </div>

        <!-- Password và Confirm Password -->
        <div class="form-row">
          <div class="col form-group">
            <label>Create password</label>
            {{ form.password }}
            {% for error in form.password.errors %}
              <small style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
          <div class="col form-group">
            <label>Repeat password</label>
            {{ form.confirm_password }}
            {% for error in form.confirm_password.errors %}
              <small style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
        </div>

        <!-- Nút Submit -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Register </button>
        </div>
      </form>
    </article>
  </div>
  <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
</section>
{% endblock %}
