<aside class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item active" href="#"> <i class="fa-regular fa-address-card"></i>Account overview </a>
        <a class="list-group-item" href="#"> <i class="fa-solid fa-clock-rotate-left" > </i> Consulting history</a>
        <a class="list-group-item" href="{% url 'cprofile'}"><i class="fa-solid fa-id-badge"></i> My profile </a>
        <a class="btn btn-primary btn-block" href="{% url 'logout' %}"> <i class="fa-solid fa-toggle-on fa-rotate-180" style="color: #74C0FC;"></i> <span class="text">Log out</span> </a>
    </ul>
</aside> <!-- col.// -->