{% load static %}

<header class="header">
  <section class="header-main">
    <div class="container">
      <div class="row align-items-center">
        
        <!-- Logo -->
        <div class="col-lg-4 col-md-4 col-12">
          <a href="{% url 'home' %}" class="brand-wrap">
            <img src="{% static 'images/logoo.png' %}" width="100" alt="Logo">
          </a>
        </div>

        <!-- Navigation -->
        <div class="col-lg-4 col-md-4 col-12">
          <nav class="header-nav header-nav-main nav-line-bottom nav-uppercase">
            <ul class="nav nav-pills justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'blog'%}">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'home_chat'%}">Tư vấn online</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tư vấn trực tiếp</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Search Bar -->
        <div class="col-lg-2 col-md-2 col-12">
          <form action="#" class="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- Login/Logout Options -->
        <div class="col-lg-2 col-md-2 col-12">
          <div class="login-option">
            {% if user.is_authenticated %}
              <div class="widget-header">
                <small class="title text-muted">Welcome {{ user.first_name }}!</small>
                <div>
                  <a href="{% url 'myAccount' %}">Dashboard</a>
                  <span class="dark-transp"> | </span>
                  <a href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            {% else %}
              <div>
                <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login</a> /
                <a href="{% url 'registerUser' %}" class="cs-color cs-popup-joinus-btn login-popup">Register</a>
                <a class="btn btn-outline-primary" href="{% url 'registerDoctor' %}">Register Doctor</a>
              </div>
            {% endif %}
          </div>
        </div>

      </div> <!-- row -->
    </div> <!-- container -->
  </section>
</header>
