{% extends 'base.html' %}
{% load static %}

{% block main-content %}

<section class="section-content padding-y bg">
    <div class="container">
    
        <div class="card">
            <div class="row flex-column">
                <aside class="col-12">
                    <article class="gallery-wrap"> 
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{single_blog.images.url}}" alt="Blog Image"></a>

                            <h8><a>Posted on {{single_blog.created_date}}</a></h8>
                        </div> <!-- img-big-wrap.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                
                <main class="col-12">
                    <article class="content-body">
                        <h2 class="title">{{single_blog.blog_name}}</h2>
                        
                        <!-- Render HTML content from description using |safe -->
                        <p class="fs-5 mb-4">{{ single_blog.blog_body|safe }}<p>
                        
                        <hr>

                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
