{% extends 'base.html'%}
{% load static %}

{% block main-content%}

<section>
    <div class="container py-5">
  
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
  
          <div class="card" id="chat1" style="border-radius: 15px;">
            <div
              class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <i class="fas fa-angle-left"></i>
              <p class="mb-0 fw-bold">Live chat</p>
              <i class="fas fa-times"></i>
            </div>
            
            <div id='chat_container' class="overflow-y-auto grow">
                <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                    {% for message in chat_messages%}
                    {% if message.author == user %}
                        <div class="flex justify-end mb-4">
                            <div class="bg-green-200 rounded-l-lg rounded-tr-lg p-4 max-w-[75%]">
                                <span>{{message.body}}</span>
                            </div>
                            <div class="flex items-end">
                                <svg height="13" width="8" >
                                    <path fill="#bbf7d0" d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"/>
                                </svg>
                            </div>
                        </div>
                        {% else %}
                        <div>
                            <div class="d-flex flex-row justify-content-start mb-4">
                                <img src="{{message.author.profile_picture.url}}"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                <div class="flex items-end" >
                                    <svg height="10" width="8" >
                                        <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                                    </svg>
                                </div>
                                <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg">
                                    <span>{{ message.body }}</span>
                                </div>  
                            </div>
                            <div class="text-sm font-light py-1 ml-10">
                                <span class="text-gray-400">{{message.author.full_name }}</span>
                            </div>
                        </div>
                        {% endif %}
                    {%endfor%}
                </ul>
            </div>
            
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

{% endblock %}