{% extends 'base.html' %}
{% load static %}
{% block main-content %}


<section>
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card" id="chat1">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">Chat</h5>
                        <div id="online-icon"></div>
                        <span id="online-count" class="pr-1"></span>online
                    </div>

                    <div id='chat_messages' class="card-body" style="position: relative; height: 400px; overflow-y: auto;">
                        {% for message in chat_messages reversed%}
                        {% if message.author == user %}
                        <!-- Tin nhắn của người dùng -->
                            <div class="d-flex flex-row justify-content-end mb-4">
                                <div class="p-3 me-3 border bg-body-tertiary" style="border-radius: 15px;">
                                    <span class="small mb-0">{{ message.body }}</span>
                                </div>
                                <img src="{{ message.author.userprofile.profile_picture.url }}"
                                    alt="avatar" 
                                    style="width: 45px; height: 45px; border-radius: 50%; object-fit: cover;">
                            </div>
                        {% else %}
                            <!-- Tin nhắn của người khác -->
                            <div class="d-flex flex-row justify-content-start mb-4">
                                <img src="{{ message.author.userprofile.profile_picture.url }}"
                                    alt="avatar" 
                                    style="width: 45px; height: 45px; border-radius: 50%; object-fit: cover;">
                                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: rgba(57, 192, 237, 0.2);">
                                    <span class="small mb-0">{{ message.body }}</span>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                        <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
                            <div class="flex flex-col gap-4 items-center rounded-xl px-2 py-2">
                                <form id="chat_message_form" class="w-full" 
                                    hx-post="{% url 'chat' %}" 
                                    hx-target="#chat_messages" 
                                    hx-swap="beforeend" 
                                    _="on htmx:afterRequest reset() me">
                                    {% csrf_token %}
                                    {{ form }}
                                </form> 
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
